:root {
  --color-primary: #005f73;
  --color-primary-light: #0a9396;
  --color-secondary: #94d2bd;
  --color-accent: #ee9b00;
  --color-neutral-100: #f8f9fa;
  --color-neutral-300: #dee2e6;
  --color-neutral-600: #6c757d;
  --color-neutral-900: #212529;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 2rem;

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
}
